PUBLIC_SUPABASE_URL=https://kfjmzsukylthtstjmmcz.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmam16c3VreWx0aHRzdGptbWN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4Mzg5ODgsImV4cCI6MjA5NjQxNDk4OH0.aqoaDdwaFUH04zSdyY4pUWtQ7tEm3WFIgBwBt9eADIo
